xml/src/com/TestXml1Base/Test4.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.w3school.com.cn"
           xmlns:tns="http://www.w3school.com.cn" elementForDefault="qualified">
    <xs:element name="nba">
        <xs:sequence>
            <xs:element name="star" maxOccurs="unbounded">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="sname" type="xs:string"/>
                        <xs:element name="no" type="xs:integer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:element>
</xs:schema>